@media (max-width: 768px) {
    .holiday .main-banner {
        font-size: 4vw;
    }
}

.dark-grey-heading-responsive {
    color: #444444;
    font-size: 3vh;
}

#partner {
    position: absolute;
    left: 95px;
    top: 0;
    z-index: 1;
    align-content: center !important;
}

#hobby {
    position: absolute;
    left: 180px;
    top: 80px;
    height: 40px;
    width: 40px;
    z-index: 2;
    border-width: 4px;
    border-color: white !important;
    border-style: solid;
    z-index: 2;
}

.holiday .main-banner {
    background: url("assets/headerBackground.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%
}

.sports .sports-banner {
    background: url("assets/block1Sports.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    color: black;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.wellness-and-health .wellness-and-health-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("assets/block2Wellness.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.expeditions .expeditions-banner {
    background: url("assets/block3Expeditions.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.games .games-banner {
    background: url("assets/block4Games.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.culture-and-education .culture-and-education-banner {
    background: url("assets/block5Culture.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.beauty-and-relaxation .beauty-and-relaxation-banner {
    background: url("assets/block6Beauty.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.travelling .travelling-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url("assets/block7Travelling.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button-pink {
    background-color: #FF4E50;
    border-radius: 20px;
    color: white;
}

.button-white {
    background-color: white;
    border-radius: 20px;
    color: #FF4E50;
    border: 2px solid #FF4E50; 
}

.button-transparent {
    background-color: transparent;
    border-radius: 20px;
    color: white;
    border: 2px solid white; 
}

.menu-text {
    color: white;
    font-family: 'Montserrat';
}

.main-banner-text-big {
    font-size: 4vw;
    color: white;
}

.main-banner-text-sm {
    font-size: 30px;
    color: white;
}

.grey-text {
    color: #caa0a0;
}

.roboto-font {
    font-family: 'Roboto';
}

.montserrat-font {
    font-family: 'Montserrat';
}

.dark-grey-text {
    color : #444444
}

.dark-grey-heading {
    color: #444444;
}

.btn-min {
    min-width: 100px;
}

hr { 
    background-color: #FF4E50; 
    height: 3px; 
    border: 0; 
}

.pink-text {
    color: #FF4E50; 
}

.bg-orange {
    background-color: #FFA710;
}

.bg-pink {
    background-color: #FF4E50;
}

.bg-orange {
    background-color: #FFA710;
}

.bg-green {
    background-color: #18D4CA;
}

.bg-purple {
    background-color: #667DF3;
}

.margin-right {
    margin-right: 500px;
}

.margin-right-80 {
    margin-right: 45px;
}

/*Bootstrap overrides*/
.navbar {
    background-color: transparent;
}
