@media (min-width: 768px) {
    .holiday .main-banner {
        min-height: 70vh;
    }
}

@media (min-width: 768px) {
    .partner {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.holiday .main-banner {
    background: url("assets/headerBackground.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%
}

.main-banner-text-big {
    font-size: 3vw;
    color: white;
}

.sports .sports-banner {
    background: url("assets/block1Sports.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    color: black;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.wellness-and-health .wellness-and-health-banner {
    background: url("assets/block2Wellness.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.expeditions .expeditions-banner {
    background: url("assets/block3Expeditions.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.games .games-banner {
    background: url("assets/block4Games.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.culture-and-education .culture-and-education-banner {
    background: url("assets/block5Culture.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.beauty-and-relaxation .beauty-and-relaxation-banner {
    background: url("assets/block6Beauty.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

.travelling .travelling-banner {
    background: url("assets/block7Travelling.jpg") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 35vh;
    border-radius: 4px;
    font-size: 2vw;
}

button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button-pink {
    background-color: #FF4E50;
    border-radius: 20px;
    color: white;
}

.button-white {
    background-color: white;
    border-radius: 20px;
    color: #FF4E50;
    border: 2px solid #FF4E50; 
}

.grey-text {
    color: #caa0a0;
}

.dark-grey-text {
    color : #444444
}

.dark-grey-heading {
    color: #444444;
}

hr { 
    background-color: #FF4E50; 
    height: 3px; 
    border: 0; 
}

.pink-text {
    color: #FF4E50; 
}

.bg-orange {
    background-color: #FFA710;
}

.bg-pink {
    background-color: #FF4E50 !important;
}

#partner {
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 1;
}

#hobby {
    position: absolute;
    left: 140px;
    top: 80px;
    height: 40px;
    width: 40px;
    z-index: 2;
    border-width: 4px;
    border-color: white !important;
    border-style: solid;
}

#info {
    position: absolute;
    right: 50px;
    top: 120px;
    z-index: 3;
}

.absolute {
    position: absolute;
}

